@model IEnumerable<Album>
@{ Layout = "_Layout"; ViewBag.Title = "All Albums";}

<h2>Customers</h2>
<a asp-action="AddAlbum" class="btn btn-sm btn-primary">Add Album</a>
<a asp-action="GetAlbum" class="btn btn-sm btn-secondary">Get Album</a>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        //<a href="/Album/UpdateAlbum/1">
        columns.Add(model => "<a href=\"/Album/UpdateAlbum/" + model.ID + "\"> <img src=\"/icon/edit.png\" /> </a>").Encoded(false);
        columns.Add(model => model.ID).Titled("ID");
        columns.Add(model => model.AlbumName).Titled("Name");
        columns.Add(model => model.ArtistName).Titled("Artist");
        columns.Add(model => model.AlbumLabel).Titled("Label");

        columns.Add(model => model.AlbumTypeDescr).Titled("Type");
        columns.Add(model => model.AlbumStock).Titled("Stock");
    })
    .Using(GridFilterMode.Header)
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { @Startup.albumPageSize, @Startup.albumPageSize.ToString()} };
        pager.ShowPageSizes = true;
        pager.CurrentPage = 1;
        pager.RowsPerPage = @Startup.albumPageSize;
    })
)

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Label</th>
            <th>Type</th>
            <th>Stock</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var album in Model)
        {
            <tr>
                <td>@album.ID</td>
                <td>@album.AlbumName</td>
                <td>@album.ArtistName</td>
                <td>@album.AlbumLabel</td>
                <td>@album.AlbumTypeDescr</td>
                <td>@album.AlbumStock</td>
                <td>
                    <a asp-action="UpdateAlbum" asp-route-id="@album.ID">
                        <img src="/icon/edit.png" />
                    </a>
                </td>
                <td>
                    <form asp-action="DeleteAlbum" method="post">
                        <input type="hidden" value="@album.ID" name="ID" />
                        <input type="image" src="/icon/remove.png" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
